body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 30px;
}

input {
    margin-top: 20px;
}

.box {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 15px;
    padding: 40px;
    border-radius: 10px;
    -webkit-box-shasow: -1px 8px 15px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.5);
    height: 450px;
}

button {
    margin-top: 15px;
}

.form-control:focus {
    border-color: #2c3e50;
    box-shadow: 0 0 0 0.2rem #07e2e940;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}